.board-ticket {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    justify-content: center;
    min-height: 185px;
    text-align: center;
}

.board-list {
    min-height: 70px;
}

.board-widgets {
    border-bottom: 2px solid #b9b9b9;
    display: flex;
    flex-flow: column wrap;
    min-height: 183px;
}

.animate-blink {
    animation-name: blink;
    animation-duration: 800ms;
    animation-delay: 1s;
    animation-iteration-count: 5;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#show-weather {
    box-sizing: border-box;
    display: flex;
    flex: 2;
    padding: 10px;
}

#show-weather img,
#show-weather span {
    display: flex;
    flex: 1px;
    flex-direction: column;
    justify-content: center;
}

#show-weather span {
    color: #b1b1b1;
    font-size: 1.9931rem;
    text-align: right;
}

#show-date {
    color: #b1b1b1;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 1.50rem;
    justify-content: center;
    text-align: center;
}

.marquesina {
    background: #414141;
    color: white;
    letter-spacing: 1rem;
    padding-top: 5px;
    text-transform: uppercase;
}

.dark {
    color: #7F7F7F;
    margin-left: 30px;
    margin-right: 30px;
}

.old-tickets {
    display: flex;
}

.old-tickets li {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    min-height: 85px;
    text-align: center;
}

.list-ticket {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 3.3rem;
    font-weight: bolder;
    justify-content: center;
}

.list-box {
    height: 20px;
    box-shadow: -2px 0px 8px -2px rgba(0, 0, 0, 0.75);
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    box-sizing: border-box;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: #e6e6e6;
    font-weight: bolder;
    text-align: center;
    min-height: 612px;
    padding: 10px;
    padding-top: 200px;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    margin-bottom: 40px;
    background: #414141;
    border-radius: 3px;
}

.text {
    font-weight: bolder;
    font-size: 1.50rem;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    /*border: 1px solid red;*/
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    /*background: gray;*/
}