{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{% static "msn/css/main.css" %}" />
    {% block head %}
    <title> {% block title %}{% endblock %} Turnex </title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>
</html>
