{% extends "base.j2" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "msn/css/board.css" %}" />
{% endblock %}

{% block content %}
<div class="content">
    <div class="board-ticket">
    </div>
    <div class="board-media">
        <video autoplay  controls id="video">
            <source src="" type="video/mp4" id="source">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="board-list"> 
    <div class="marquesina"> 
        <marquee>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
            <span>Últimos llamados</span>
            <span class="dark">Últimos llamados</span>
        </marquee>
    </div>
            <ul class="old-tickets" id="list">
            </ul>
    </div>

<div id="audio-box">
    <audio  id="audio" controls>
        <source src="{% static "msn/media/next.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
    </div>

{% endblock %}

{% block sidebar %}
    <div class ="sidebar">
        <div class="board-widgets">
            <div id="show-weather">
                <img  id ="js-img-weather" src= "{{weather.url}}"/> <span id="js-temperature">{{weather.temperature}} &#8451;</span>
            </div>
            <div id="show-date">cargando...</div>
        </div>
        <div class="flip-container">
            <div class="flipper">
                <div class="front">
                </div>
                <div class="back">
                </div>
            </div>
</div>
    </div>
{% endblock%}

{% block scripts %}
<script  type="text/javascript" src="{% static "msn/js/board.js" %}"></script>
{% endblock %}