{% extends "base.j2"%}
{% load static %}
{% block head %}
    <title> Administraci&oacute;n </title>
    {% endblock %}
{% block content %}
    <h2>Bienvenidos al m&oacute;dulo de configuraci&oacute;n de Proxiturno!</h2>
    <div class="content">
        Las opciones configurables son las siguientes:
        <ul class="menu">
            <li>
                <a href="{% url 'msn:video' %}">
                    <img src="{% static "msn/img/video.png" %}" />
                </a>
            </li>
        </ul>
    </div>
{% endblock %}