{% extends "base.j2" %}

{% load static %}
{% block head %}
 <link rel="stylesheet" href="{% static "msn/css/forms.css" %}" />
{% endblock %}
 {% block title %}Forms Viewer{% endblock %}
 
 {% block header %}
    <div class="header"><div class="img"><object id="svg1" data="{% static "msn/media/proxiturno.svg" %}" type="image/svg+xml"></object></div><div class ="bell"><a href="#" onclick="return ring();"><img src="{% static 'msn/media/bell.png' %}" alt="ring the bell"></a></div></div>
{% endblock %}

{% block content%}
<div class="forms">
{% for form in forms %} 
    <div class="form">
        <div class="form-title">
        <p>{{ form.name }}</p>
        </div>
        <div class="form-raw">
        <form id="{{ form.name }}" method="POST" href="#">
            {% for choice in form.details %}
                 <div class="form-type">
                    <div class="color-box" style="background: {{ choice.color }}"></div>
                    <input type="radio" name="rd-{{ form.name }}" value="{{ choice.type }} * {{ choice.color }}" class="radio-{{ form.name }}" />
                    <label>{{ choice.type }}</label>
                </div>
            {% endfor %}
            <div class="form-field">
            <input id="input-{{form.name}}" type="text" name="" value=""/>
            </div>
            <div class="form-button">
            <input type="button" value="notify" onclick="sendTicket(this);"/>
            </div>
        </form>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div class="sidebar-current-ticket">
        <div class="sidebar-ticket"></div>
    </div>
    <div class="sidebar-called-ticket">
        <ul class="sidebar-list" id="list">
        </ul>
    </div>
</div>
</div>
</div>
{% endblock%}

{% block footer %}
    <div class="footer">
        &copy; Copyright {{year}} by <a href="mailto:mleger45@gmail.com/">Ing. McArthur & CIA</a>.
    </div>
{% endblock %}

{% block scripts %}
<script  type="text/javascript" src="{% static "msn/js/forms.js" %}"></script>
{% endblock %}


